root = true

[*]
charset                  = utf-8
trim_trailing_whitespace = true
end_of_line              = lf
insert_final_newline     = true
ij_visual_guides         = 80, 120

[*.{php, yml, yaml, neon, xml, xsl, json, twig}]
indent_size  = 2
indent_style = space

[*.php]
ij_php_align_assignments                   = true
ij_php_align_key_value_pairs               = true
ij_php_align_multiline_chained_methods     = true
ij_php_align_multiline_parameters          = true
ij_php_align_phpdoc_comments               = true
ij_php_align_phpdoc_param_names            = true
ij_php_blank_lines_before_return_statement = 1
ij_php_phpdoc_use_fqcn                     = true

[*.{md, markdown, feature}]
trim_trailing_whitespace = false
indent_size              = 2
indent_style             = space

[{Makefile, *.mk}]
indent_style = tab

[{Dockerfile, *.Dockerfile}]
indent_size  = 4
indent_style = space

[.editorconfig]
ij_editorconfig_align_group_field_declarations     = true
ij_editorconfig_spaces_around_assignment_operators = true
ij_editorconfig_space_before_comma                 = false
ij_editorconfig_space_after_comma                  = true
