root = true

[*.{php, yml, yaml, neon, xml, svg, json, md, html}]
charset = utf-8
indent_size = 2
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_visual_guides = 80, 120
ij_php_phpdoc_use_fqcn = true

[.gitattributes]
indent_style = tab
indent_size = 4
