# https://madewithlove.be/gitattributes/

# Ignore all test and documentation with "export-ignore".
/.idea              export-ignore
/docs               export-ignore
/phpunit.xml        export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
